.panel {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
}

.add-bot {
    background-color: #7289da;
    font-size: 50px;
    font-weight: 300;
}

.bot-info {
    font-size: 20px;
    margin: 10px 0px 20px 0px;
}

table td {
    max-width: 500px;
}
